@charset "UTF-8";
/* Body */
body {
	font-family: monospace, "Monaco";
	font: normal;
	font-style: normal;
	font-weight: 200;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	background-color: #1D0933;
}
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

/*	Header and footer text	*/
header {
	width:				100%;
	height:				50px;
	
	background-color:	#1D0933;
}
.icontext {
	text-align:		right;
	line-height:	48px;
	margin-right:   15px;
	
	color: 			#D4B8F2;
}

.vertsect {
	width: 100%;
}
/*	User information section	*/
#userInfo {
	height: 			200px;
	background-color: 	#aa00aa;
}
.horzsect {
	height: 	100%;
	width: 		50%;
	display: 	inline-block;
}
#siteInfo {
	background-color: 	#1D0933;
	margin-right: 		-4px;
	position: 			relative;
	
	box-sizing: 		border-box;
	border-top: 		#D4B8F2 10px solid;
	border-bottom: 		#D4B8F2 10px solid;
	border-right: 		#D4B8F2 10px solid;
	border-left: 		#D4B8F2 10px solid;
}
#descHeader {
	color: 			#D4B8F2;
	position: 		absolute;
	
	margin-top: 	30px;
	margin-left: 	25%;
}
.descBody {
	position:   	absolute;
	color: 			#D4B8F2;
	
	margin-top: 	75px;
	margin-left: 	15%;
}
#line1 {padding-top: 0px;}
#line2 {padding-top: 20px;}
#line3 {padding-top: 40px;}
#playlistSpecs {
	background-color: 	#D4B8F2;
	margin-left: 		-5px;
}

/* 	Playlist output section 	*/
#songOutput {
	height: 0px;
};

/* Mobile */
@media (max-width: 320px) {

.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
	
}
